.mainSectionContainer {
  display: flex;
  flex-direction: column;
  height: 52vh;

  .planContent {
    flex-grow: 1;
  }
}

.title {
  margin: 0;
  margin-bottom: 0.2rem;
  color: hsl(213, 96%, 18%);
}
.subtitle {
  margin: 0;
  color: hsl(231, 11%, 63%);
  font-size: 16px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.itemCard {
  width: 8em;
  height: 10em;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 12px;
  padding: 0.8em 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1em;

  .itemTitle {
    font-size: 16px;
    margin: 0;
    color: hsl(213, 96%, 18%);
  }
  .itemPrice {
    margin: 0;
    color: hsl(231, 11%, 63%);
    font-size: 12px;
  }
}

.formButton {
  display: flex;
  justify-content: space-between;

  .cancelButton {
    color: hsl(213, 96%, 18%);
  }

  .cancelButton:hover {
    color: hsl(213, 96%, 18%) !important;
    opacity: 0.6;
  }

  .button {
    background-color: hsl(213, 96%, 18%);
    color: hsl(0, 0%, 100%);
  }
  .button:disabled {
    background-color: hsl(213, 96%, 18%);
    color: hsl(0, 0%, 100%);
    opacity: 0.6;
  }
}

.itemCard:hover {
  background-color: hsl(217, 100%, 97%);
  border-color: hsl(228, 100%, 84%);
  cursor: pointer;
}

.plan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  background-color: hsl(217, 100%, 97%);
  border-radius: 0.4em;
  padding: 0.7em;

  .planMontly {
    margin-bottom: 0;
    font-weight: 500;
  }

  .planSwitch {
    margin: 0 1em;
  }

  .planYearly {
    margin-bottom: 0;
    font-weight: 500;
  }
}

@media screen and (max-width: 990px) {
  .mainSectionContainer {
    height: 58vh;
  }
  .itemCard {
    width: 100%;
    height: 3em;
    padding: 0.8em 1em;
    flex-direction: row;
    justify-content: start;
    margin-right: 0;
    margin-bottom: 1em;
    align-items: center;

    .icon {
      margin-right: 1em;
    }
  }
  .buttonContainer {
    padding: 0.5em 1em;
    position: fixed;
    width: 100%;
    bottom: 0;
    right: 0;
    background-color: #fff;
    .formButton {
      justify-content: space-around;
    }
  }
}
